/* CSS GERAL */
html{
    background-color: #C99565;
    color: #5B1F0F;
    font-family: 'Almendra', sans-serif;
    h1, h2, h3, h4, h5, h6, p {
    font-family: 'Abhaya Libre', sans-serif;
    }
}
/* HEADER */

header {
    background-color: #934C1A;
    text-align: center;
}

header img {
    width: 50%;
}

header nav {
    background-color: #F6E2BF;
    text-align: center;
    color:black;
}

header nav a {
    display: block;
    padding: 2vw;
}

header nav a:hover {
    border: 2px solid #934C1A;
    border-radius: 21px;
} 

/* PÁGINA DE RECOMENDAÇÕES */

section.rec img {
    width: 100%;
}

section.livros {
    padding: 2vw 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
    position: relative;
}

.papiro {
    max-width: 250px;
    position: relative;
    z-index: 2;
}

.img-papiro {
    width: 80px;
    position: absolute;
    left: 22vw;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

section.livros  h3{
    font-family: 'Abhaya Libre';
    font-size: 1.4rem;
    font-weight: bold;
}

section.livros p {
    font-family: 'Abhaya Libre';
    font-size: 0.7rem;
}


footer {
    background: #934C1A;
}

footer p {
    color: #F6E2BF;
    font-size: 0.7rem;
    padding: 2vw 4vw 2vw 4vw;
}

@media only screen and (min-width: 600px) {
    header nav {
      display: flex;
      justify-content: space-between;
      padding: 1vw 3vw 1vw 3vw;
      text-align: center;
    }

    section.livros h3 {
        font-size: 3rem;
    }

    section.livros p {
        font-size: 1.3rem;
    }

    .img-papiro {
        width: 130px;
        left: 23vw;
    }

    footer p {
        font-size: 1rem;
        padding: 1vw 2vw 1vw 2vw;
    }
}