/* CSS GERAL */
html{
    background-color: #5B1F0F;
    color: #C99565;
    body, p, span {
    font-family: 'Abhaya Libre', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Almendra', sans-serif;
}
}
/* HEADER */

header {
    background-color: #934C1A;
    text-align: center;
}

header img {
    width: 50%;
}

header nav {
    background-color: #F6E2BF;
    text-align: center;
    color:black;
}

header nav a {
    display: block;
    padding: 2vw;
}

header nav a:hover {
    border: 2px solid #934C1A;
    border-radius: 21px;
} 

html h2{
    font-family: "Abhaya Libre", serif;
  font-weight: 700;
  font-style: normal;
}

html h3{
     font-family: "Abhaya Libre", serif;
  font-weight: 700;
  font-style: normal;
}

html p{
     font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
}

/* == formas e poder (para celular, junto com 'mensagens')== */

section.curiosidades img{

padding: 3vw 0 2vw 0;

}

section.curiosidades ul li{
   text-align: center;

}

section.curiosidades ul li h2{
    font-size: 2rem;
    padding: 3vw 0 2vw 0;
}

section.curiosidades ul li p{
    padding: 0 7vw 0 7vw;
    max-width: 400px ;
    display: block;
    margin: 0 auto;
}

section.curiosidades div.caixa1{
    background-color: #732612;
    padding: 0 3vw 3vw 3vw;
    margin: 4vw;
    border-radius: 30px;
}

section.concretas img{
    padding: 8vw 0 1vw 0;

}

section.concretas ul li{
   text-align: center;
}

section.concretas ul li h3{
    font-size: 1.7rem;
    padding: 3vw 0 2vw 0;
}

section.concretas ul li p{
    padding: 0 7vw 0 7vw;
    max-width: 400px ;
    display: block;
    margin: 0 auto;
}

section.concretas div.caixa3{
    background-color: #732612;
    padding: 0 3vw 3vw 3vw;
    margin: 4vw;
    border-radius: 30px;
}










footer {
    background-color: #934C1A;
}

footer p {
    color: #F6E2BF;
    font-size: 0.7rem;
    padding: 2vw 4vw 2vw 4vw;
}

@media only screen and (min-width: 600px) {
    header nav ul {
      display: flex;
      justify-content: space-between;
      padding: 1vw 3vw 1vw 3vw;
      text-align: center;
    }

    footer p {
        font-size: 1rem;
        padding: 1vw 2vw 1vw 2vw;
    }
}